<section class="bg-2" id="section3" style="text-align: center;">
  <h2 style="padding: 20px;  background-color:rgba(5,5,5,.8)">How to Learn</h2>
  <img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2012/5/4/1336137955453/Illustration-of-Aristotle-009.jpg" alt="">
</section>
<div class="container">
  <div class="col-sm-10 col-sm-offset-1">
    <p>Primarily, you will learn by (a) following tutorials and (b) modifying other people's code to realize your own visions.</p>
    <p>d3.js was created primarily by Mike Bostock, who makes data visualizations for the New York Times. Go ahead and follow him on Twitter.</p>
    <a href="https://twitter.com/mbostock" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="large">Follow @mbostock</a>
    <p>Here are some other people to follow:</p>
    <ul>
      <li>Visually <a href="https://twitter.com/Visually" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="large">Follow @Visually  </a></li>
      <li>Stamen Design <a href="https://twitter.com/stamen" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="large">Follow @stamen  </a></li>
      <li>Christophe Viau <a href="https://twitter.com/d3visualization" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="large">Follow @d3visualization</a></li>
      <li>Scott Murray <a href="https://twitter.com/alignedleft" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="large">Follow @alignedleft</a></li>
      <li>Stephanie May<a href="https://twitter.com/mizmay" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="large">Follow @mizmay</a></li>
      <li>Nathan Yau <a href="https://twitter.com/flowingdata" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="large">Follow @flowingdata</a></li>
      <li>Shirley Wu <a href="https://twitter.com/shirleyxywu" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="large">Follow @shirleyxywu  </a></li>
      <li>Ian Johnson <a href="https://twitter.com/enjalot" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="large">Follow @enjalot  </a></li>
      <li>Jim Vallingham <a href="https://twitter.com/vlandham" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="large">Follow @vlandham</a></li>
      <li>Victor Powell <a href="https://twitter.com/vicapow" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="large">Follow @vicapow</a></li>
      <li>Lewis Lehe<a href="https://twitter.com/LewisLehe" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="large">Follow @LewisLehe</a></li>
      <li>Mike Taptich<a href="https://twitter.com/MikeTaptich" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="large">Follow @MikeTaptich</a></li>
    </ul>

    <p>Bostock curates a collection of d3 examples, including several very basic ones at <a href="d3js.org">d3js.org</a>. Visit there, click on Examples, and scroll down or search for "Basic Charts."</p>

    <iframe src="http://d3js.org/" height="400px" width="100%"></iframe>

    <p>We are going to copy-and-paste the code for a line chart. Make a folder on your computer, and use Sublime Text to save a blank document there called <code>index.html</code>. Then save another blank document called <code>data.tsv</code> in the same folder.</p>
    <p>Next, copy the code section from the Line Chart example Page and paste it into the <code>index.html</code> file and save it. Finally, copy the data and paste it into <code>data.tsv</code>.</p>

    <iframe src="http://bl.ocks.org/mbostock/3883245" frameborder="0" height="400px" width="100%"></iframe>

    <p>Now run your localhost like you dide before using <code>http-server</code> and navigate to the folder you made. You should see the line chart.</p>

    <p>If you see a beautiful visualization on any other site, then you can right-click and hit <code>View Page Source</code> or <code>View Frame Source</code> to see the code that generated it. Here is one of my visualizations. Use <code>View Frame Source</code> on this guy, because it is embedded in this website like a little window to another website.</p>

    <iframe src="http://lewis500.github.io/miles/linechart1.html" frameborder="0" scrolling="no" width="500" height="500"></iframe>

    <p>We're going to teach some things about JavaScript and HTML, but ultimately you won't remember much. If you want to be able to really code in d3.js, there are lots of fun and easy tutorials. A <a href="http://vudlab.com/#/learn">list</a> appears at our website. </p>

    <div style="text-align: center;">
      <img src="http://8wayrun.com/attachments/local-celebrity-the-power-is-yours-mens-t-shirt-3-jpg.15845/" alt="" >
      <h2>IT'S TRUE Y'ALL</h2>
    </div>

  </div>
  <!-- col -->
  <!--/container-->
</div>

<!--
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
-->