<div class="container">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <h3>Our Motto: Interact. Think. Remember.</h3>

    <ul class="list-inline center-block" style="margin-top: 100px">
      <li><a href="http://vudlab.com/" target="_black"><i class="fa fa-mail-reply fa-3x"></i></a>
      </li>
      <li><a href="mailto:main@vudlab.com" target="_black"><i class="fa fa-keyboard-o fa-3x"></i></a>
      </li>
      <li><a href="https://twitter.com/VUDLab" target="_black"><i class="fa fa-twitter fa-3x"></a>
        </i>
      </li>
    </ul>

  </div>
  <!--/col-->
</div>
<!--/container-->

  <div id="footer">
    <div class="container">
      <p class="text-muted">Copyright &copy; Visualizing Urban Data 2014</p>
    </div>
  </div>

  <ul class="nav pull-right scroll-top">
    <li><a href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up"></i></a>
    </li>
  </ul>
