<section class="bg-2" id="section4">
  <h2 style="padding: 20px; text-align: center; background-color:rgba(5,5,5,.8)">SVG + d3.js</h2>
</section>

<div class="container">
  <div class="col-sm-8 col-sm-offset-2">
    <ul>
      <li><a href="svg-helloworld.html">hello svg!</a>
      </li>
      <li><a href="svg-in-yo-browser.html">svg in yo browser</a>
      </li>
      <li><a href="svg-and-d3.html">svg and d3</a>
      </li>
      <li><a href="svg-hello-computer-p1.html">hello computer, part I</a>
      </li>
      <li><a href="svg-hello-computer-p2.html">hello computer, part II</a>
      </li>
      <li><a href="http://setosa.io/art/swirl/">a larger, simple example</a>
      </li>
    </ul>
    <!--/col-->
  </div>
  <!--/container-->
</div>
